<ion-header> 
  <ion-toolbar color="tertiary">
    <ion-title>
      Clássica
    </ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-card color="dark">
  <ion-item>
    <ion-label color="secondary">123</ion-label>
  </ion-item>
  <ion-item>
    <ion-label color="secondary">=</ion-label>
  </ion-item>
  </ion-card>  
  
<ion-item color="dark">
  <ion-item>
    <ion-grid>
  <ion-row>
        <ion-col>
          <ion-button expand="full">C</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full">Del</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full">.</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full">/</ion-button>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <ion-button expand="full">7</ion-button>
        </ion-col>  
        <ion-col>
          <ion-button expand="full">8</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full">9</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full">*</ion-button>
        </ion-col>
      </ion-row>  

      <ion-row>
        <ion-col>
          <ion-button expand="full">4</ion-button>
        </ion-col>  
        <ion-col>
          <ion-button expand="full">5</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full">6</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full">-</ion-button>
        </ion-col>
      </ion-row>  

      <ion-row>
        <ion-col>
          <ion-button expand="full">1</ion-button>
        </ion-col>  
        <ion-col>
          <ion-button expand="full">2</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full">3</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full">+</ion-button>
        </ion-col>
      </ion-row>  

      <ion-row>
        <ion-col>
          <ion-button expand="full">?</ion-button>
        </ion-col>  
        <ion-col>
          <ion-button expand="full">0</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="full">=</ion-button>
        </ion-col>
      </ion-row>  

    </ion-grid>
  </ion-item>


        
  
  
  


  
