ion-content {
    --background: #000000;
}

ion-button{
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    font-weight: bold;
    height: 95%;
}

ion-col{

    height: calc(60vh /7); //vh - view height (altura da tela (content))
}

ion-label{

  --ion-font-family: "Verdana, Geneva, Tahoma, sans-serif";
}

.resultado{
  font-size: 36px;
}
