<ion-header [translucent]="true">
  <ion-toolbar color='secondary'>
    <ion-title>
      Simples
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
<ion-card>
  <ion-item>
    <ion-label position="floating">Primeiro Valor</ion-label>
    <ion-input type="number" [(ngModel)]="primeiroValor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Segundo Valor</ion-label>
    <ion-input type="number" [(ngModel)]="segundoValor"></ion-input>
  </ion-item>

</ion-card>

<ion-card>
  <ion-item color="secondary">
    <ion-label>Resultado</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="resultado">{{resultado}}</ion-label>
  </ion-item>
</ion-card>

<ion-card color="secondary">
  <ion-button (click)="soma()" color="dark" expand="block">SOMAR (+)</ion-button>
  <ion-button (click)="sub()" color="dark" expand="block">SUBTRAÇÃO (-)</ion-button>
  <ion-button (click)="mult()" color="dark" expand="block">MULTIPLICAÇÃO (*)</ion-button>
  <ion-button (click)="div()" color="dark" expand="block">DIVISÃO (/)</ion-button>
<br />
<ion-button (click)="limpar()" color="dark" expand="block">APAGAR (+)</ion-button>
</ion-card>

</ion-content>
