img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 50%;
  border-radius: 20px;
}



ion-content {
  --background:none;
  background:url("/assets/back.jpg");
  background-size: cover;
  background-position: center;

}
